<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script type="text/javascript" src="js/js.js"></script>
  <script type="text/javascript" src="js/jquery.stellar.min.js"></script>
  <script type="text/javascript" src="js/waypoints.min.js"></script>
  <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>

  
  <link rel="stylesheet" media="screen" href="css/style.css">
  <title>Portfolio</title>
</head>
<body>

  <ul class="navigation">
    <li data-slide="1">Home</li>
    <li data-slide="2">About</li>
    <li data-slide="3">Projects</li>
    <li data-slide="4">Contact</li> 
  </ul>
  

<div class="slide" id="slide1" data-slide="1" data-stellar-background-ratio="0.5">
  <!-- particles.js container -->
  <div id="particles-js">
</div>

 <!--<a class="button" data-slide="2" title=""></a>-->
    <img class="portfoliofoto" src="img/foto.jpg">   
    <section class="textblock1">
       <h3>Hello! My name is Iuliia Glazeva</h3>
       <hr>
     
      <p>Full Stack Junior Web Developer, graduated from an intensive course in Full-Stack Web Development at the New
York Code + Design in Amsterdam</p>
    </section>
  
 
  </div><!--End Slide 1-->

  <div class="slide" id="slide2" data-slide="2" data-stellar-background-ratio="0.5">
    <div class="textAboutMyself">
      
    </div>
    <div class="likeText">
      <h2 style="color: black;">I LIKE...</h2>
      <p>In addition to my obsession with everything Web development related, 
        <br>
        I also like music, all kinds of music, movies, 
        <br>
        sport activities (especially volleyball and bicycling),  gadgets & technology.
      </p>
    </div>
    <div class="skillsText">
      <h2 style="color: black;">SKILLS...</h2>
      <p>I have a good knowledge of a number of programs 

        and technologies including the following:
   
        <ul>
        <li>Front End Development: css, html, javascript, jquery, sass</li>

        <li>Back End Development: APIs, database, NODE.js</li>
 
        <li>Development Tools: Command line, GIT, GIThub</li>

      <li>Other Skills: Collaborative Development, Computer Science Basics, MVC, Object Oriented Programming</li>
      </ul>
    </p>
  </div>

    
  

  </div><!--End Slide 2-->



  <div class="slide" id="slide3" data-slide="3" data-stellar-background-ratio="0.5">
    <section class="projectblock1">
      <ul class="portfolio-items">
        <li class="img_item">
          <div class="caption">
            <h3><a href="https://github.com/YoussefOuirini/CroissanterieBilderdijk">Croissanterie Bilderdij</a></h3>    
          </div>
          <img class="fotoslide1" src="img/baking.jpg">
          <img class="fotoslide2" src="img/breakfast.jpg">
          <img class="fotoslide3" src="img/bred.jpg">
          <img class="fotoslide4" src="img/76.jpg">
        </li>
      </ul>
      
    </section>


    <section class="projectblock2">
      <ul class="portfolio-items">
        <li class="img_item">
          <div class="caption">
            <h3><a href="https://github.com/MenaZ/Align/tree/master/public">Align</a></h3>
            <p>"The latest hit success on the social app block is here. Get aligned now."</p>
                
          </div>
          <img class="fotoslide5" src="img/amsterdam.jpg">
          <img class="fotoslide6" src="img/pinky-swear.jpg">
          <img class="fotoslide7" src="img/amsterdam_02.jpg">

        </li>
      </ul>
      
    </section >

    <section class="projectblock3">
      <ul class="portfolio-items">
        <li class="img_item">
          <div class="caption">
            <h3><a href="http://www.charm-pmu.nl/">Beauty Saloon</a></h3>
                
          </div>
          <img class="fotoslide8" src="img/PMU-003.jpg">
          <img class="fotoslide9" src="img/henna_brow.jpg">
          <img class="fotoslide10" src="img/IMG_1290.JPG">

        </li>
      </ul>
      
    </section>
    <!-- <div class="projectblock2">
      
    </div>
    <div class="projectblock3"></div> -->
    <!--<a class="button" data-slide="3" title=""></a>-->

  </div><!--End Slide 3-->


  <div class="slide" id="slide4" data-slide="4" data-stellar-background-ratio="0.5">
    <div class="contactblock">
    <div class="box1">
      <ul class="contactList">CONTACT
        <hr>
        <li>yuliya.glazeva@gmail.com</li>   
      </ul> 
      <ul class="contactList">SOCIAL
        <hr>
        <li><a href="https://www.linkedin.com/in/iuliia-glazeva-b19544150/">Linkedin</a></li>
        <li><a href="https://github.com/IuliiaGlazeva">Github</a></li>
        <li><a href="https://www.facebook.com/yuliya.bruzhukova?ref=bookmarks">Facebook</a></li>
      </ul>     
    </div>
    </div>
  
      
    
   
  <footer class="footer">
    
    <div class="footertext"><p>&copy; 2017 <a href="#">Glazeva Iuliia</a> All Rights Reserved.</p>
    </div>
    
  </footer> 

  </div><!--End Slide 4-->


  

<!-- scripts -->

<script src="../particles.js"></script>
<script src="js/app.js"></script>

<!-- stats.js -->
<script src="js/lib/stats.js"></script>
<script>
  var count_particles, stats, update;
  stats = new Stats;
  stats.setMode(0);
  stats.domElement.style.position = 'absolute';
  stats.domElement.style.left = '0px';
  stats.domElement.style.top = '0px';
  document.body.appendChild(stats.domElement);
  count_particles = document.querySelector('.js-count-particles');
  update = function() {
    stats.begin();
    stats.end();
    if (window.pJSDom[0].pJS.particles && window.pJSDom[0].pJS.particles.array) {
      count_particles.innerText = window.pJSDom[0].pJS.particles.array.length;
    }
    requestAnimationFrame(update);
  };
  requestAnimationFrame(update);
</script>

</body>
</html>